@font-face {
    font-family: 'Montserrat-Light';
    src: url('../font/Montserrat-Light.eot');
    src: url('../font/Montserrat-Light.woff2') format('woff2'),
         url('../font/Montserrat-Light.woff') format('woff'), 
         url('../font/Montserrat-Light.ttf') format('truetype'), 
         url('../font/Montserrat-Light.svg#Montserrat-Light') format('svg'), 
         url('../font/Montserrat-Light.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../font/Montserrat-SemiBold.eot');
    src: url('../font/Montserrat-SemiBold.woff2') format('woff2'),
         url('../font/Montserrat-SemiBold.woff') format('woff'), 
         url('../font/Montserrat-SemiBold.ttf') format('truetype'), 
         url('../font/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'), 
         url('../font/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font/Montserrat-Regular.eot');
    src: url('../font/Montserrat-Regular.woff2') format('woff2'),
         url('../font/Montserrat-Regular.woff') format('woff'), 
         url('../font/Montserrat-Regular.ttf') format('truetype'), 
         url('../font/Montserrat-Regular.svg#Montserrat-Regular') format('svg'), 
         url('../font/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../font/Montserrat-Medium.eot');
    src: url('../font/Montserrat-Medium.woff2') format('woff2'),
         url('../font/Montserrat-Medium.woff') format('woff'), 
         url('../font/Montserrat-Medium.ttf') format('truetype'), 
         url('../font/Montserrat-Medium.svg#Montserrat-Medium') format('svg'), 
         url('../font/Montserrat-Medium.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../font/Montserrat-Black.eot');
    src: url('../font/Montserrat-Black.woff2') format('woff2'),
         url('../font/Montserrat-Black.woff') format('woff'), 
         url('../font/Montserrat-Black.ttf') format('truetype'), 
         url('../font/Montserrat-Black.svg#Montserrat-Black') format('svg'), 
         url('../font/Montserrat-Black.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../font/Montserrat-Bold.eot');
    src: url('../font/Montserrat-Bold.woff2') format('woff2'),
         url('../font/Montserrat-Bold.woff') format('woff'), 
         url('../font/Montserrat-Bold.ttf') format('truetype'), 
         url('../font/Montserrat-Bold.svg#Montserrat-Bold') format('svg'), 
         url('../font/Montserrat-Bold.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('../font/Montserrat-ExtraBold.eot');
    src: url('../font/Montserrat-ExtraBold.woff2') format('woff2'),
         url('../font/Montserrat-ExtraBold.woff') format('woff'), 
         url('../font/Montserrat-ExtraBold.ttf') format('truetype'), 
         url('../font/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg'), 
         url('../font/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype');
}
