
#header #header_bottom_menu ul {
    width: 100%;
}

/* contact-us start*/
#contact-us{
    height:575px;;
}
#contact-us #contact-us-left{
    width:34%;
    float: left;
    padding-top: 80px;
    margin-right: 6%;
}
#contact-us #contact-us-left p span{
    display: inline-block;
    width:35px;
    height:100px;
    float: left;   
}
#contact-us  h2{
    font-family: AvenirNextLTPro-Bold, AdobeInvisFont, Tahoma;
    color: #3e596d;
    font-size: 19px;
    text-transform: uppercase;
    padding:0 0 56px ;
    
}
#contact-us #contact-us-left p{
    font-family:AdobeInvisFont,Tahoma,MyriadPro-Regular;
    color: #484848;
    font-size: 19px;
    letter-spacing: -.5px;
}
#contact-us #contact_us_right{
    padding:80px 0 ;
    width:60%; 
    float: left;
}
 /*contact-us  End*/ 
 #messege{
     border:none;
     border:1 px solid #3e596d;
     padding:21px 19px;
     font-size: 18px;
 }
 
.contact_bg{
    height: 550px;
}
#contact input[type="text"],input[type="email"],#messege{
    font-size: 18px;
    color: #333333;
    font-weight: bold;
}
#messege{
    font-family:Calibri-Bold,AdobeInvisFont,Tahoma,MyriadPro-Regular;
    width:91%;
    height: 147px;
    padding-left: 19px;
    border:none;
    border:2px solid #d8d8d8;
    outline: none;
    border-radius: 10px;
    margin: 7.5px 0;
   
}