
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../font/ProximaNova-Regular.eot');
    src: url('../font/ProximaNova-Regular.woff2') format('woff2'), url('../font/ProximaNova-Regular.woff') format('woff'), url('../font/ProximaNova-Regular.ttf') format('truetype'), url('../font/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'), url('../font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-RegularIt';
    src: url('../font/ProximaNova-RegularIt.eot');
    src: url('../font/ProximaNova-RegularIt.woff2') format('woff2'), url('../font/ProximaNova-RegularIt.woff') format('woff'), url('../font/ProximaNova-RegularIt.ttf') format('truetype'), url('../font/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg'), url('../font/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../font/ProximaNova-Light.eot');
    src: url('../font/ProximaNova-Light.woff2') format('woff2'), url('../font/ProximaNova-Light.woff') format('woff'), url('../font/ProximaNova-Light.ttf') format('truetype'), url('../font/ProximaNova-Light.svg#ProximaNova-Light') format('svg'), url('../font/ProximaNova-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-LightIt';
    src: url('../font/ProximaNova-LightIt.eot');
    src: url('../font/ProximaNova-LightIt.woff2') format('woff2'), url('../font/ProximaNova-LightIt.woff') format('woff'), url('../font/ProximaNova-LightIt.ttf') format('truetype'), url('../font/ProximaNova-LightIt.svg#ProximaNova-LightIt') format('svg'), url('../font/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-SemiboldIt';
    src: url('../font/ProximaNova-SemiboldIt.eot');
    src: url('../font/ProximaNova-SemiboldIt.woff2') format('woff2'), url('../font/ProximaNova-SemiboldIt.woff') format('woff'), url('../font/ProximaNova-SemiboldIt.ttf') format('truetype'), url('../font/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg'), url('../font/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../font/ProximaNova-Semibold.eot');
    src: url('../font/ProximaNova-Semibold.woff2') format('woff2'), url('../font/ProximaNova-Semibold.woff') format('woff'), url('../font/ProximaNova-Semibold.ttf') format('truetype'), url('../font/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg'), url('../font/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../font/ProximaNova-Bold.eot');
    src: url('../font/ProximaNova-Bold.woff2') format('woff2'), url('../font/ProximaNova-Bold.woff') format('woff'), url('../font/ProximaNova-Bold.ttf') format('truetype'), url('../font/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'), url('../font/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-BoldIt';
    src: url('../font/ProximaNova-BoldIt.eot');
    src: url('../font/ProximaNova-BoldIt.woff2') format('woff2'), url('../font/ProximaNova-BoldIt.woff') format('woff'), url('../font/ProximaNova-BoldIt.ttf') format('truetype'), url('../font/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg'), url('../font/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../font/Poppins-Bold.eot');
    src: url('../font/Poppins-Bold.woff2') format('woff2'), url('../font/Poppins-Bold.woff') format('woff'), url('../font/Poppins-Bold.ttf') format('truetype'), url('../font/Poppins-Bold.svg#Poppins-Bold') format('svg'), url('../font/Poppins-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../Poppins-Bold.eot');
    src: url('../Poppins-Bold.woff2') format('woff2'),
         url('../Poppins-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../Poppins.woff') format('woff'),
         url('../Poppins.ttf') format('truetype'),
         url('../Poppins.svg#Poppins') format('svg');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Gothi-Century-bold';
    src: url('../font/Gothi-Century-bold.eot');
    src: url('../font/Gothi-Century-bold.woff2') format('woff2'), url('../font/Gothi-Century-bold.woff') format('woff'), url('../font/Gothi-Century-bold.ttf') format('truetype'), url('../font/Gothi-Century-bold.svg#Gothi-Century-bold') format('svg'), url('../font/Gothi-Century-bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gothi-Century-Regular';
    src: url('../font/Gothi-Century-Regular.eot');
    src: url('../font/Gothi-Century-Regular.woff2') format('woff2'), url('../font/Gothi-Century-Regular.woff') format('woff'), url('../font/Gothi-Century-Regular.ttf') format('truetype'), url('../font/Gothi-Century-Regular.svg#Gothi-Century-Regular') format('svg'), url('../font/Gothi-Century-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

