* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full_container {
    width: 100%;
}

.container {
    width: 1138px;
    margin: 0 auto;
}

ul li {
    list-style-type: none;
}

#header {
    height: 150px;
    box-sizing: border-box;
}

#header .header_left {
    float: left;
}

#header .header_left img {
    padding: 25px 0;
    margin-right: 94px;
}

#header .header_middle {
    float: left;
}

#header .header_middle ul {
    display: flex;
}

#header .header_middle ul li {
    list-style-type: none;
    padding: 69px 52px;
}

#header .header_middle ul li:last-child {
    margin-right: 113px;
    padding-left: 70px;
}

#header .header_middle ul li a {
    font-family: "opensans-regular";
    font-size: 15px;
    font-weight: normal;
    color: rgba(85, 85, 85, 255);
    text-decoration: none;
    text-transform: uppercase;
}

#header .header_right {
    float: left;
}

#header .header_right a {
    font-family: "opensans-semibold";
    margin-top: 58px;
    width: 86px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 15px;
    color: #ffffff;
    background: #00adef;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    box-shadow: 0 3px 15px -4px #2c2c2c;
}

#header .header_right a:last-child {
    margin-left: 11px;
    background: #8cc63f;
    width: 151px;
}

.hero_bg {
    background: url(img/find_a_cleaner_hero.png) no-repeat center center;
    background-size: 100% auto;
    overflow: hidden;
}

#hero h2 {
    font-family: "opensans-bold";
    font-size: 35px;
    padding: 171px 0 64px 23px;
    color: #ffffff;
    text-shadow: 0 3px 15px #141414;
}

#hero a {
    font-family: "opensans-semibold";
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    color: #ffffff;
    background: #00adef;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 81px;
    margin-left: 277px;
    box-shadow: 0 3px 10px -4px #353434;
}

#service {
    clear: both;
    overflow: hidden;
}

#service h2 {
    font-family: "opensans-semibold";
    font-size: 29px;
    color: #00adef;
    text-align: center;
    margin: 41px auto;
}

#service #figure_wrap {
    margin-left: 100px;
    width: 978px;
    box-sizing: border-box;
    overflow: hidden;
}

#service figure img {
    max-width: 100%;
    vertical-align: middle;
}

#service figure {
    margin: 0;
    padding: 0;
    float: left;
    width: 280px;
    height: 300px;
    margin-right: 46px;
    overflow: hidden;
}

#service #figure_wrap figcaption h3 {
    font-family: "opensans-semibold";
    font-size: 19px;
    color: #555555;
    text-align: center;
    margin-top: 10px;
}

#service #figure_wrap figcaption p {
    font-family: "opensans-regular";
    font-size: 14px;
    color: #252525;
    text-align: center;
    padding: 10px 0;
}

.quality_bg {
    background: #00adef;
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
}

#quality p {
    font-family: "opensans-semibold";
    font-size: 19px;
    color: #ffffff;
    padding-top: 50px;
}

#quality a {
    font-family: "opensans-semibold";
    margin-top: 58px;
    width: 359px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 19px;
    color: #ffffff;
    background: #8cc63f;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 37px;
    box-shadow: 0 3px 15px -5px #2c2c2c;
}

.how_work_bg {
    background: #f3f2f2;
    overflow: hidden;
    text-align: center;
    padding-left: 100px;
    height: 370px;
}

#how_work h2 {
    font-family: "opensans-semibold";
    font-size: 29px;
    color: #00adef;
    text-align: center;
    margin: 41px auto;
}

#how_work figure {
    float: left;
    overflow: hidden;
    width: 26%;
}

#how_work figure:nth-child(2) {
    margin: 0 10%;
}

#how_work figcaption h3 {
    font-family: "opensans-semibold";
    font-size: 19px;
    color: #555555;
    text-align: center;
    margin-top: 10px;
}

#how_work figcaption p {
    font-family: "opensans-regular";
    font-size: 14px;
    color: #252525;
    text-align: center;
    padding: 10px 0;
}

#testimonial h2 {
    font-family: "opensans-semibold";
    font-size: 29px;
    color: #00adef;
    text-align: center;
    margin: 64px 0 44px auto;
}

#testimonial_wrap {
    margin-left: 144px;
    height: 330px;
    display: block;
}

#testimonial .testimonial_same {
    float: left;
    width: 402px;
    height: 115px;
    background: #f3f2f2;
    margin-right: 29px;
    margin-bottom: 30px;
}

#testimonial .testimonial_same p {
    font-family: "opensans-regular";
    padding: 22px 23px 0 13px;
    font-size: 14px;
}

#testimonial .testimonial_same p:nth-child(2) {
    font-size: 12px;
    font-family: "opensans-semibold";
}

#testimonial .testimonial_same:hover p:nth-child(1) {
    font-size: 11px;
    color: #00adef;
    padding: 24px 25px 6px 15px;
}

#testimonial .testimonial_same p .same_1 {
    color: #00adef;
}

#testimonial .testimonial_same p .same_3 {
    color: #7d7d7d;
}

#testimonial .testimonial_bottom_right p:nth-child(2) {
    padding-top: 10px;
}

#testimonial .testimonial_bottom_right:hover p:nth-child(2) {
    padding-top: 14px;
}

.cleaners_bg {
    background: #00adef;
    overflow: hidden;
    height: 118px;
}

#cleaners h5 {
    font-family: "opensans-semibold";
    font-size: 20px;
    color: #ffffff;
    float: left;
    padding: 50px 0 48px 0;
}

#cleaners a {
    font-family: "opensans-semibold";
    margin-top: 58px;
    width: 359px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 19px;
    color: #ffffff;
    background: #8cc63f;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    box-shadow: 0 3px 15px -5px #2c2c2c;
    float: right;
    margin: 34px 0;
}

.footer_top_bg {
    background: #252525;
    overflow: hidden;
    text-align: left;
    color: #7e7e7e;
}

#footer_top {
    border-bottom: 1px solid #8e8e8e;
    height: 248px;
}

#footer_top h3 {
    font-family: "opensans-semibold";
    font-size: 15px;
    margin-top: 33px;
}

#footer_top ul li a {
    font-family: "opensans-semibold";
    font-size: 12px;
    color: #7e7e7e;
    text-decoration: none;
    padding-top: 5px;
    display: block;
}

#footer_top #footer_top_left {
    width: 50%;
    float: left;
}

#footer_top #footer_top_middle {
    width: 30%;
    float: left;
}

#footer_top #footer_top_right {
    width: 20%;
    float: left;
}

#footer_top #footer_top_right ul {
    display: flex;
    margin-top: 205px;
    float: right;
}

#footer_top #footer_top_right ul li {
    padding: 0 5px;
}

.footer_bg {
    height: 53px;
    background: #252525;
}

#footer ul {
    display: flex;
    float: left;
}

#footer ul li a {
    font-family: "opensans-semibold";
    font-size: 12px;
    color: #7e7e7e;
    margin-top: 13px;
    padding-bottom: 25px;
    text-decoration: none;
    display: inline-block;
}

#footer ul li:last-child {
    margin-left: 40px;
}

#footer p {
    font-family: "opensans-semibold";
    float: right;
    font-size: 12px;
    color: #7e7e7e;
    margin-top: 13px;
    padding-bottom: 25px;
}